<style>
    .snake-game {
        padding: 0;
        margin: auto;
        display: block;
    }
    .row {
        height: 20px;
    }
    .column {
        background: #FFFFFF;
    }
    .column, .food, .snake-creature {
        border: 1px dotted #455A64;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
    .food {
        background-color: rebeccapurple;
    }
    .snake-creature {
        background-color: #3BCCA2;
    }
</style>

<h1>SNEK</h1>
<div class="snake-game">
    <span class="score">
        Score: {{gameInstance.score}}
    </span>
    <span class="instructions">
        (Use arrow keys)
    </span>
    <button (click)="gameInstance.active ? gameOver() : startGame()">
        <i class="fa-play" [attr.class]="gameInstance.active ? 'fa fa-stop' : 'fa fa-play'"></i>
    </button>
    <div class="row" *ngFor="let int of boardRange(); let y=index">
        <div class="column"
             *ngFor="let int of boardRange(); let x=index; trackBy:x">
            <food class="food" *ngIf="foodCell(x, y)"></food>
            <snake-creature class="snake-creature" *ngIf="snakeCells(x, y)"></snake-creature>
        </div>
    </div>
</div>