<style>
    :host {
        margin: 10px;
        box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12);
        display: block;
    }
    .row {
        height: 28px;
    }
    .column, .food, .snake-creature {
        border: 1px dotted #455A64;
        width: 28px;
        height: 28px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
    .food {
        background-color: rebeccapurple;
    }
    .snake-creature {
        background-color: #3BCCA2;
    }
</style>

<h1>SNEK</h1>
<i class="fa fa-ra"></i>
<div class="snake-creature"></div>
<div class="food"></div>
<section test-hook="snake">
    <span class="score">
        {{gameInstance.score}}
    </span>
    <button (click)="gameInstance.active ? gameOver() : startGame()">
        <i class="fa-play" [attr.class]="gameInstance.active ? 'fa fa-stop' : 'fa fa-play'"></i>
    </button>
    <div class="row" *ngFor="let int of boardRange(); let y=index">
        <div class="column"
             *ngFor="let int of boardRange(); let x=index; trackBy:x">
            <food class="food" *ngIf="foodCell(x, y)"></food>
            <snake-creature class="snake-creature" *ngIf="snakeCells(x, y)"></snake-creature>
        </div>
    </div>
</section>