.arcade-cabinet {
    height: 100%;
    background: url('../assets/images/side-scroller.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}