<h1>Block Breaker</h1>
<section test-hook="block-breaker">
    <span class="score">
        Score: {{gameScore()}}
    </span>
    <span class="lives">
        Lives: {{gameLives()}}
    </span>
    <button (click)="isGameActive() ? gameOver() : startGame()">
        <i class="fa-play" [attr.class]="isGameActive() ? 'fa fa-stop' : 'fa fa-play'"></i>
    </button>
    <canvas #blockBreakerCanvas id="block-breaker-canvas">
        Whoops! Looks like your browser doesn't support HTML5.
    </canvas>
</section>